@font-face {
    font-family: Hoefler Text;
    src: url('../fonts/Hoefler-Text.ttc');
    font-family: SF Pro Display Regular;
    src: url('../fonts/SF-Pro-Display-Regular.otf');
  }

.ConsultingContainer{
    width: 100%;
}

.Consulting_SubContainer{
    display:flex;
    padding:3%;
    height:380px;
    width:94%; 
}

.Consulting_SubContainer_1{
    display:flex;
}

.BodyFont{
    font-family: SF Pro Display Regular;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.55px;
    color: #000000;
    padding-left:5%;
    padding-right:5%;
    margin-top: 1rem;
}

.TitleFont{
    font-family: Hoefler Text;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.6px;
    color: #000000;
    padding-left:5%;
    padding-right:5%;
}


@media screen and (max-width: 500px) {

    .ConsultingContainer{
        margin-left:0%;
        width: 100%;
    }

.Consulting_SubContainer{
    display:flex;
    padding-left:5%;
    margin-top: 3rem;
    height:480px;
    width:90%; 
}

.Consulting_SubContainer_1{
    display:flex;
    flex-direction: column;
}

}