@font-face {
    font-family: Hoefler Text;
    src: url('../fonts/Hoefler-Text.ttc');
    font-family: SF Pro Display Regular;
    src: url('../fonts/SF-Pro-Display-Regular.otf');
  }

.ConsultingContainer{
    width: '100%';
}

.BodyFont{
    font-family: SF Pro Display Regular;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.55px;
    color: #FFFFFF;
    padding-left:10%;
    padding-right:10%;
}

.TitleFont{
    font-family: SF Pro Display Regular;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.6px;
    color: #FFFFFF;
}