
@font-face {
  font-family: Hoefler Text;
  src: url('../fonts/Hoefler-Text.ttc');
  font-family: SF Pro Display Regular;
  src: url('../fonts/SF-Pro-Display-Regular.otf');
}

#servicesContainer {
  /*  // top:  40px ; */
  /*minHeight:  710px ;
    minWidth:  600px ;
    height:  auto ;
    width:  auto ;
    */
  margin-top: 50px;
 
  /* // padding:  50px ; */

  display: flex;
  flex-direction: column;
  /* // justifyContent:  center ; */
}

.BoxContainer_1_title{
  font-family: Hoefler Text;
  font-size: 52px;
  font-style: italic;
  color: #D3A625;
}

.ButtonGroup {
  top: 0;
  margin-top: 1rem;
}

.selected {
  background-color: #D3A625 !important;

}


#btn1 {
  width: 129px;
  height: 39px;
  font: normal normal normal 20px Hoefler Text;
  letter-spacing: 0px;
  color: white;
  opacity: 1;
  background-color: #dadada;
  /* //border:  1px solid #88898a ; */
  border: none;
  /* //borderRadius:  0px ; */
  /* // color:  #D3A625 ; */
  /* // fontSize:  2.5rem ; */
  margin-right: 50px;
  padding: 1px 1px;
}
/* #btn1.hover {
  background-color: transparent;
  color: #D3A625;
  border: #D3A625;
}
#btn1:focus {
  background-color: #D3A625;
  color: white;
  border: 1px solid #D3A625;
} */

#btn2 {
  width: 140px;
  height: 39px;
  font: normal normal normal 20px Hoefler Text;
  letter-spacing: 0px;
  background-color: #dadada;
  color: white;
  opacity: 1;
  /* background-color:  transparent ; */
  padding: 1px 1px;
  border: none;
}

/* #btn2.hover {
  background-color: transparent;
  color: #D3A625;
  border: #D3A625;
}
#btn2:focus {
  background-color: #D3A625;
  color: white;
  border: 1px solid #D3A625;
} */

@media screen and (max-width: 1850px) and (min-width: 1600px) {


}

@media screen and (max-width: 500px) {

  #servicesContainer {
    margin-top: 5rem;
    height: 155rem;  
    display: flex;
    flex-direction: column;
  }

}