@font-face {
    font-family: Hoefler Text;
    src: url('../fonts/Hoefler-Text.ttc');
    font-family: SF Pro ;
    src: url('../fonts/SF-Pro.ttf');
    font-family: SF Pro Display Regular;
    src: url('../fonts/SF-Pro-Display-Regular.otf');
    font-family: SF Pro Display Semibold;
    src: url('../fonts/SF-Pro-Display-Semibold.otf');
  
  }
.MessageFont{
  font-family:SF Pro Display Regular ;
  color:black
}

.ButtonFont{
  font-family:Hoefler Text ;
}

.Container_Contact{
    background-color: white;
    width: 60%;
    padding: 5%;
    margin-left: 15%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.Container_1_Contact{
    flex:1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Title_Contact{
    font-family:  Hoefler Text ;
    font-style: italic;
    font-size: 54px;
    color: #D3A625;
}

.Body_Contact{
    font-size: 16px;
    margin-top: 1rem;
}

.Container_2_Contact{
    margin-left: 2rem;
    margin-top: 2rem;
    width: 50%;
    flex:1;
    display: flex;
    flex-direction: column;
}


.Contact_Map{
  border: 0;
  width: 100%;
  border-radius: 0%;
  height: 25rem;
  margin-top:2rem; 
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #D3A625;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #D3A625;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #D3A625;
  }


  @media screen and (max-width: 500px) {

    .Container_Contact{
      
      background-color: white;
      width: 80%;
      padding: 5%;
      margin-left: 5%;
      margin-top: 5rem;
      margin-bottom: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .Container_1_Contact{
    flex:1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
  
.Container_2_Contact{
  margin-left: 2rem;
  margin-top: 2rem;
  width: 80%;
  flex:1;
  display: flex;
  flex-direction: column;
}

  .Contact_Map{
    border: 0;
    border-radius: 30px;
    height: 10rem;
    margin-top:2rem; 
  }
 
}
