@font-face {
    font-family: Hoefler Text;
    src: url('../fonts/Hoefler-Text.ttc');
    font-family: SF Pro Display Regular;
    src: url('../fonts/SF-Pro-Display-Regular.otf');
  }

  .HomeContainer{
    display:grid;
    justify-content: center;
    background-color: #DADADA;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(1, auto);
  }