@font-face {
    font-family: Hoefler Text;
    src: url('../fonts/Hoefler-Text.ttc');
    font-family: SF Pro ;
    src: url('../fonts/SF-Pro.ttf');
    font-family: SF Pro Display Regular;
    src: url('../fonts/SF-Pro-Display-Regular.otf');
    font-family: SF Pro Display Semibold;
    src: url('../fonts/SF-Pro-Display-Semibold.otf');
  
  }

  .Title{
      font-family: Hoefler Text;
      color: #C3A336;
      font-size: 52px;
      font-style: italic;
      padding: 0px;
  }

  .BodyText{
    font-family:SF Pro Display Regular;
    color: #C3A336;
    font-size: 20px;

  }