
#container {
 
    /* background-color:  white ; */
    background-color: white;
    width: 980px;
    display: flex;
}

 

#title {
    text-align:  center ;
    /* font:  italic normal normal 54px/65px Hoefler Text ; */
    font:  italic normal normal 54px/65px SFProDisplayRegular ;

    letter-spacing:  0px ;
    /* color:  #B28D42 ;
    opacity:  1 ; */
    /* padding-top:  90px ; 
    padding-bottom: 20px ; */
    padding: 90px 11px 20px 11px;
}

#btn {
    /* background-color:  #B28D42 ;
    color:  white ;
    border:  1px solid #B28D42 ; */
    /* border-radius:  100px ; */
    width:  243px ;
    height: 49px ;
    margin-bottom: 12px ;
    font-size: 15px ;

    
}

#img {
    width: 555px ;
    height: 476px ;
}

#carousel{
    /* margin-bottom:  -50px ; */
    /* margin-top: 10px ; */

}

#leftCol {
    width:  490px ;
    /* float:  left ; */

    /* background-color:  white ; */
}

#rightCol {
    width:  490px ;
    /* float:  left ; */
    background-position:  36% 58% ;
    background-size:  120% ;
    /* filter:  saturate(130%) ; */

}

@media screen and (max-width: 1050px) {

    #container {
 
        background-color: white;
        width: auto;
        display: flex;
        flex-direction: column;
       
    }

    #leftCol {
        width:  490px ;
        /* background-color: black; */

    }

    #rightCol {
        width:  490px ;
        /* float:  left ; */
   
        /* filter:  saturate(130%) ; */
    
    }
}

